fastapi
uvicorn[standard]
sqlalchemy
pymysql
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
pandas
numpy
scikit-learn
alembic
email-validator
apscheduler
pytesseract
opencv-python
Pillow
SpeechRecognition
openai-whisper
boto3
openpyxl
reportlab
scipy
joblib
xgboost
matplotlib
plotly
transformers
sentence-transformers
ffmpeg-python
xlsxwriter
